==
<div id="headerRegion">
    <header role="banner" class="c-uhfh context-uhf c-sgl-stck js" id="headerArea">
        <div class="theme-light js-global-head f-closed global-head-cont">
            <div class="c-uhfh-gcontainer-st">
                <button type="button" class="c-action-trigger c-glyph glyph-global-nav-button" aria-expanded="false">
                </button>
                <button type="button" class="c-action-trigger c-glyph glyph-arrow-htmllegacy" aria-expanded="false"></button>
                <a id="uhfLogo" class="c-logo c-sgl-stk-uhfLogo" itemprop="url" href="/">
                    <img alt="" class="c-image" 
                    src="{{ 'assets/img/nwt.svg'|theme }}" role="presentation">
                    <span role="presentation">NWT INVEST | Account</span>
                </a>
                <nav id="uhf-g-nav" class="c-uhfh-gnav" role="presentation">
                    <ul class="js-paddle-items">
                        <li style="transition:margin .667s cubic-bezier(0.16,1,0.29,0.99);margin-left:0">
                            <div class="c-uhf-menu js-nav-menu">
                                <button aria-expanded="false" aria-haspopup="true" style="white-space:nowrap">Учетная запись</button>
                                <ul class="" aria-hidden="true" role="none">
                                    <li>
                                        <a class="js-subm-uhf-nav-link" href="/settings">Настройки</a>
                                    </li>
                                    <li>
                                        <a class="js-subm-uhf-nav-link" href="/settings/password">Изменить пароль</a>
                                    </li>
                                    <li>
                                        <a class="js-subm-uhf-nav-link" href="/settings/2fa">Двухфакторная аутентификация</a>
                                    </li>
                                    <li>
                                        <a class="js-subm-uhf-nav-link" href="/settings/avatar">Изменить аватар</a>
                                    </li>
                                    <li>
                                        <a class="js-subm-uhf-nav-link" href="/settings/bday">Изменить дату рождения</a>
                                    </li>
                                    <li>
                                        <a class="js-subm-uhf-nav-link" href="/settings/financial_profile">Настройки финансового профиля</a>
                                    </li>
                                    <li>
                                        <a class="js-subm-uhf-nav-link" href="/settings/email">Настройки уведомлений</a>
                                    </li>
                                    <li>
                                        <a class="js-subm-uhf-nav-link" href="/settings/adversing">Параметры рекламы</a>
                                    </li>
                                    <li>
                                        <a class="js-subm-uhf-nav-link" href="/settings/activity-history">Журнал действий</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="single-link js-nav-menu">
                            <a id="shellmenu_0" class="c-uhf-nav-link" href="/">Office</a>
                        </li>
                        <li style="transition:margin .667s cubic-bezier(0.16,1,0.29,0.99);margin-left:0">
                            <div class="c-uhf-menu js-nav-menu">
                                <button aria-expanded="false" aria-haspopup="true" style="white-space:nowrap">Поддержка</button>
                                <ul class="" aria-hidden="true" role="none">
                                    <li>
                                        <a class="js-subm-uhf-nav-link" href="/support/broker-list">Список брокеров</a>
                                    </li>
                                    <li>
                                        <a class="js-subm-uhf-nav-link" href="/setting/password">Изменить пароль</a>
                                    </li>
                                    <li>
                                        <a class="js-subm-uhf-nav-link" href="/setting/address">Изменить адрес</a>
                                    </li>
                                    <li>
                                        <a class="js-subm-uhf-nav-link" href="/setting/personal-data">Настройки персональних даних</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li id="c-uhf-nav-cta">
                            <a class="c-uhf-nav-link" href="/investments/add" >Добавить Счёт</a>
                        </li>
                    </ul>
                </nav>
                <div class="c-uhfh-actions">
                    
                   <div id="meControl" class="c-me">
                    <div>
                        <div class="msame_header_focus_trap" tabindex="0" aria-hidden="true" style="display: none;"></div>
                        <div class="msame_Header" role="button" tabindex="0" aria-expanded="false" aria-haspopup="true" "=" " style="height: 48px; ">
                            <span class="msame_screen_reader ">A&nbsp;sua&nbsp;conta</span>
                            <div aria-hidden="true " role="presentation" aria-describedby="beakBottomFlyoutExample">
                                <div class="msame_Header_name msame_TxtTrunc " style="line-height: 48px; ">Javos</div>
                            <div class="msame_Header_pic ">
                                <div  class="msame_Header_piccont " style="padding-top: 6px; padding-bottom: 6px; ">
                                <div class="msame_Header_picframe " style="height: 36px; width: 36px; ">
                                    <img role="presentation " src="https://storage.live.com/users/0x41eba74e92253382/myprofile/expressionprofile/profilephoto:Win8Static,UserTileMedium,UserTileStatic/MeControlXXLUserTile?ck=1&amp;ex=24 " alt=" " style="height: 36px; width: 36px; ">
                                </div>
                            </div>
                            </div>
                                <div class="msame_Header_chev "></div>
                        </div>
                    </div>
                        <div class="msame_header_focus_trap " tabindex="0 " aria-hidden="true " style="display: none; "></div>
            </div>
                            <div class="c-flyout f-beak" id="beakBottomFlyoutExample" role="tooltip" data-js-flyout-placement="bottom" data-js-flyout-dismissible="false" aria-hidden="true">
                            
    
    <div><span style="padding-right: 10px;"><div class="menu-item menu-item_type_block menu-item_theme_alfa-on-white"><span class="menu-item__control">Депозиты</span></div></span><span style="padding-right: 10px;"><div class="menu-item menu-item_type_block menu-item_theme_alfa-on-white"><span class="menu-item__control">Депозиты</span></div></span><span style="padding-right: 10px;"><div class="menu-item menu-item_type_block menu-item_theme_alfa-on-white"><span class="menu-item__control">Депозиты</span></div></span><span style="padding-right: 10px;"><div class="menu-item menu-item_type_block menu-item_theme_alfa-on-white"><span class="menu-item__control">Депозиты</span></div></span></div>

                            </div>
                            <div class="msame_header_focus_trap " tabindex="0 " aria-hidden="true " style="display: none; ">
                            </div
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>