==
{% if user.account_frist_brocker == null %}

{% elseif user.account_frist_brocker == 'Alpari' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/alpari.png'|theme }}" style="border-radius: 50%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">Alpari</h5>
            <p class="c-subheading"><a href="https://alpari.com" target="_black">alpari.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Alfa-Forex' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/Alfa-Forex.png'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">Alfa-Forex</h5>
            <p class="c-subheading"><a href="https://alfaforex.com" target="_black">alfaforex.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'AvaTrade' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/AvaTrade.jpg'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">AvaTrade</h5>
            <p class="c-subheading"><a href="https://www.avatrade.ru" target="_black">avatrade.ru</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'ATFX' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/ATFX.png'|theme }}" style="border-radius: 50%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">ATFX</h5>
            <p class="c-subheading"><a href="https://atfxgm.eu/" target="_black">atfxgm.eu</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Admiral Markets' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/AdmiralMarkets.png'|theme }}" style="border-radius: 50%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">Admiral Markets</h5>
            <p class="c-subheading"><a href="https://admiralmarkets.com" target="_black">admiralmarkets.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Adamant Finance' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/AdamantFinance.png'|theme }}" style="border-radius: 50%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">Adamant Finance</h5>
            <p class="c-subheading"><a href="https://adamantfinance.com" target="_black">adamantfinance.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'AL Trade' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/A.svg'|theme }}" style="border-radius: 50%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">AL Trade</h5>
            <p class="c-subheading">www.alforex.com</p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'AccentForex' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/AccentForex.png'|theme }}" style="border-radius: 50%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">AccentForex</h5>
            <p class="c-subheading">accentforex.com</p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'ActivTrades' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/ActivTrades.jpg'|theme }}" style="border-radius: 50%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">ActivTrades</h5>
            <p class="c-subheading"><a href="https://www.activtrades.com" target="_black">activtrades.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Advanced Markets' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/A.svg'|theme }}" style="border-radius: 50%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">Advanced Markets</h5>
            <p class="c-subheading">advancedmarketsfx.com</p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'AFX Capital Markets' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/AFXCapitalMarkets.png'|theme }}" style="border-radius: 50%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">AFX Capital Markets</h5>
            <p class="c-subheading"><a href="https://www.afxgroup.com" target="_black">www.afxgroup.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'ATC Brokers' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/ATCBrokers.png'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">ATC Brokers</h5>
            <p class="c-subheading"><a href="https://atcbrokers.com" target="_black">atcbrokers.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'AMarkets' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/AMarkets.png'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">AMarkets</h5>
            <p class="c-subheading"><a href="https://www.amarkets.org" target="_black">amarkets.org</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'ARUM capital' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/A.svg'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">ARUM capital</h5>
            <p class="c-subheading"><a href="https://ru.arumcapital.eu" target="_black">arumcapital.eu</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'ADSS' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/ADSS.svg'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">ADSS</h5>
            <p class="c-subheading"><a href="https://www.adss.com" target="_black">www.adss.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'AxiTrader' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/AxiTrader.png'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">AxiTrader</h5>
            <p class="c-subheading"><a href="https://www.axitrader.com/ru" target="_black">www.axitrader.com/ru</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'ACFX' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/ACFX.png'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">ACFX (Atlas Capital FX)</h5>
            <p class="c-subheading"><a href="https://atlaseforex.com" target="_black">atlaseforex.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'ACM' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/ACM.png'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">ACM</h5>
            <p class="c-subheading"><a href="https://atlaseforex.com" target="_black">atlaseforex.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Axiory Forex' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/A.svg'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">Axiory Forex</h5>
            <p class="c-subheading"><a href="https://www.axiory.com" target="_black">www.axiory.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Bulbrokers' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/B.svg'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">Bulbrokers (EAD)</h5>
            <p class="c-subheading">bulbrokers.com</p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Berkeley' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/B.svg'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">Berkeley</h5>
            <p class="c-subheading">www.bfl.co.uk</p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'BMFN' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/BNFM.png'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">BMFN (Boston Merchant Financial)</h5>
            <p class="c-subheading"><a href="https://bmfn.com" target="_black">bmfn.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'CapTrader' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/C.svg'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">CapTrader</h5>
            <p class="c-subheading"><a href="https://www.captrader.com" target="_black">captrader.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'CIM Bank' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/CIMBank.png'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">CIM Bank</h5>
            <p class="c-subheading"><a href="https://www.cimbanque.com" target="_black">www.cimbanque.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'CitiFX Pro' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/CitiFXPro.jpg'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">CitiFX Pro</h5>
            <p class="c-subheading"><a href="https://www.citifx.com" target="_black">www.citifx.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'City Credit Capital' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/CityCreditCapital.jpg'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">City Credit Capital</h5>
            <p class="c-subheading"><a href="https://www.cccapital.co.uk" target="_black">www.cccapital.co.uk</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Colmex Pro' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/Colmex-Pro.png'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Colmex Pro</h5>
            <p class="c-subheading"><a href="https://www.colmexpro.com" target="_black">www.colmexpro.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'CMC Markets' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/CMCMarkets.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">CMC Markets</h5>
            <p class="c-subheading"><a href="https://www.cmcmarkets.com" target="_black">www.cmcmarkets.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'CM Trading' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/CMTrading.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">CM Trading</h5>
            <p class="c-subheading"><a href="https://www.cmtrading.com" target="_black">www.cmtrading.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Core Spreads' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/CoreSpreads.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Core Spreads</h5>
            <p class="c-subheading"><a href="https://www.corespreads.com" target="_black">www.corespreads.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Citypoint Trading' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/CitypointTrading.png'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Citypoint Trading</h5>
            <p class="c-subheading"><a href="https://www.citypointtrading.com" target="_black">www.citypointtrading.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Dukascopy' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/Dukascopy.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Dukascopy</h5>
            <p class="c-subheading"><a href="https://www.dukascopy.com" target="_black">www.dukascopy.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'DIF Broker' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/DIFBroker.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">DIF Broker</h5>
            <p class="c-subheading">www.difbroker.com</p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'DF Markets' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/DFMarkets.png'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">DF Markets</h5>
            <p class="c-subheading"><a href="https://www.dfmarkets.co.uk" target="_black">www.dfmarkets.co.uk</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'easyMarkets' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/easyMarkets.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">easyMarkets</h5>
            <p class="c-subheading"><a href="https://www.easymarkets.com/" target="_black">www.easymarkets.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Exness' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/Exness.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Exness</h5>
            <p class="c-subheading"><a href="https://www.exness.uk" target="_black">www.exness.uk</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'ETrade FX' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/ETradeFX.png'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">ETrade FX</h5>
            <p class="c-subheading"><a href="https://us.etrade.com" target="_black">us.etrade.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'ETX Capital' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/ETXCapital.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">ETX Capital</h5>
            <p class="c-subheading"><a href="https://www.etxcapital.com" target="_black">www.etxcapital.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'FXTM' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/FXTM.png'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">FXTM</h5>
            <p class="c-subheading"><a href="https://www.forextime.com" target="_black">www.forextime.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'FIBO Group' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/FIBOGroup.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">FIBO Group</h5>
            <p class="c-subheading"><a href="https://www.fibogroup.com" target="_black">www.fibogroup.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'FxPro' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/FxPro.png'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">FxPro</h5>
            <p class="c-subheading"><a href="https://www.fxpro.co.uk" target="_black">www.fxpro.co.uk</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'FXCM' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/FXCM.png'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">FXCM</h5>
            <p class="c-subheading"><a href="https://www.fxcm.com" target="_black">www.fxcm.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'FP Markets' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/FPMarkets.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">FP Markets</h5>
            <p class="c-subheading"><a href="https://www.fpmarkets.com" target="_black">www.fpmarkets.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'FOREX.com' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/FOREX.com.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">FOREX.com</h5>
            <p class="c-subheading"><a href="https://www.forex.com" target="_black">www.forex.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Finam' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/Finam.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Finam</h5>
            <p class="c-subheading"><a href="https://www.finam.ru" target="_black">www.finam.ru</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Forex Club' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/ForexClub.png'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Forex Club</h5>
            <p class="c-subheading"><a href="https://www.fxclub.org" target="_black">www.fxclub.org</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'FBS' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/FBS.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">FBS</h5>
            <p class="c-subheading"><a href="https://fbs.com" target="_black">fbs.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'FreshForex' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/FreshForex.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">FreshForex</h5>
            <p class="c-subheading"><a href="https://freshforex.org" target="_black">freshforex.org</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'FxGrow' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/FxGrow.png'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">FxGrow</h5>
            <p class="c-subheading">fxgrow.com</p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Finotec' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/Finotec.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Finotec</h5>
            <p class="c-subheading"><a href="https://www.finotec.com" target="_black">www.finotec.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'FxNet' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/FxNet.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">FxNet</h5>
            <p class="c-subheading"><a href="https://www.fxnet.com/eu/en/" target="_black">www.fxnet.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'FXOpen' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/FXOpen.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">FXOpen</h5>
            <p class="c-subheading"><a href="https://www.fxopen.ru" target="_black">www.fxopen.ru</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Finexo' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/Finexo.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Finexo</h5>
            <p class="c-subheading"><a href="https://www.finexo.com" target="_black">www.finexo.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'FXDD' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/FXDD.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">FXDD</h5>
            <p class="c-subheading"><a href="https://www.fxdd.com" target="_black">www.fxdd.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'FXGLORY' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/FXGLORY.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">FXGLORY</h5>
            <p class="c-subheading"><a href="https://fxglory.com" target="_black">fxglory.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Forex4you' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/Forex4you.png'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Forex4you</h5>
            <p class="c-subheading"><a href="https://www.forex4you.com" target="_black">forex4you.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'FinFX' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/FinFX.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">FinFX</h5>
            <p class="c-subheading"><a href="https://finfxglobal.com" target="_black">finfxglobal.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'FXFlat' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/FXFlat.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">FXFlat</h5>
            <p class="c-subheading"><a href="https://www.fxflat.com" target="_black">www.fxflat.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'FX Giants' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/FXGiants.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">FX Giants</h5>
            <p class="c-subheading"><a href="https://www.fxgiants.co.uk/ru" target="_black">www.fxgiants.co.uk</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Formax' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/Formax.jpg'|theme }}" style="border-radius: 5%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Formax</h5>
            <p class="c-subheading"><a href="https://www.formaxprime.co.uk" target="_black">www.formaxprime.co.uk</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'GMOTrading' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/GMOTrading.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">GMOTrading</h5>
            <p class="c-subheading"><a href="https://www.gmotrading.com" target="_black">www.gmotrading.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Grand Capital' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/GrandCapital.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Grand Capital</h5>
            <p class="c-subheading"><a href="https://grandcapital.net" target="_black">grandcapital.net</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'GO Markets' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/GOMarkets.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">GO Markets</h5>
            <p class="c-subheading">www.gomarketsaus.com/</p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'HotForex' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/HotForex.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">HotForex</h5>
            <p class="c-subheading"><a href="https://www.hfeu.com" target="_black">www.hfeu.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'HYCM' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/HYCM.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">HYCM</h5>
            <p class="c-subheading"><a href="https://www.hycm.co.uk" target="_black">www.hycm.co.uk</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'HQBroker' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/HQBroker.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">HQBroker</h5>
            <p class="c-subheading"><a href="https://www.hqbroker.com" target="_black">www.hqbroker.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'HMS Markets' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/HMSMarkets.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">HMS Markets</h5>
            <p class="c-subheading">www.hms.lu</p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'IronFX Global' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/IronFXGlobal.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">IronFX Global</h5>
            <p class="c-subheading"><a href="https://www.ironfx.com" target="_black">www.ironfx.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'IFC Markets' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/IFCMarkets.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">IFC Markets</h5>
            <p class="c-subheading"><a href="https://www.ifcmarkets.ru" target="_black">www.ifcmarkets.ru</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Interactive Brokers Group' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/InteractiveBrokersGroup.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Interactive Brokers Group</h5>
            <p class="c-subheading"><a href="https://www.interactivebrokers.com/" target="_black">www.interactivebrokers.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'iFOREX' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/iFOREX.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">iFOREX</h5>
            <p class="c-subheading"><a href="https://www.iforex.com.ru" target="_black">www.iforex.com.ru</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'IG Markets' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/IGMarkets.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">IG Markets</h5>
            <p class="c-subheading"><a href="https://www.ig.com" target="_black">www.ig.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'InstaForex' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/InstaForex.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">InstaForex</h5>
            <p class="c-subheading"><a href="https://www.instaforex.eu" target="_black">www.instaforex.eu</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'IC Markets' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/ICMarkets.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">IC Markets</h5>
            <p class="c-subheading"><a href="https://www.icmarkets.com" target="_black">www.icmarkets.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'Just2Trade' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/Just2Trade.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">Just2Trade</h5>
            <p class="c-subheading"><a href="https://just2trade.online" target="_black">just2trade.online</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'JustForex' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/JustForex.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">JustForex</h5>
            <p class="c-subheading"><a href="https://justforex.com/ru" target="_black">justforex.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'LiteForex' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/LiteForex.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">LiteForex</h5>
            <p class="c-subheading"><a href="https://www.liteforex.com" target="_black">www.liteforex.com</a></p>
        </div>
    </div>
</div>
{% elseif user.account_frist_brocker == 'lcg' %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
                <img class="c-image f-round" src="{{ 'assets/img/broker/lcg.jpg'|theme }}" style="border-radius: 50%; ">
            </picture>
        </div>
        <div>
            <h5 class="c-heading">lcg</h5>
            <p class="c-subheading"><a href="https://lcg.com" target="_black">lcg.com</a></p>
        </div>
    </div>
</div>
{% else %}
<div data-grid="col-6">
    <div class="m-persona-1">
        <div>
            <picture role="img">
        		<img class="c-image f-round" src="{{ 'assets/img/broker/B.svg'|theme }}" style="border-radius: 5%; ">
    		</picture>
        </div>
        <div>
            <h5 class="c-heading">{% partial 'variabiles/acount_broker_name' %}</h5>
            <p class="c-subheading">{% partial 'variabiles/acount_broker_website' %}</p>
        </div>
    </div>
</div>
{% endif %}