==
<div class="c-dialog" id="password-preview" aria-hidden="true">
    <div role="presentation" tabindex="-1"></div>
    <div role="dialog" aria-label="Default" tabindex="-1">
        <div role="document">
            <h2>{% partial 'variabiles/nwtid' %}</h2>
            <div>
                <p class="c-paragraph">Торговый Пароли:</p>
                <p class="c-paragraph">Пароли инвестора:</p>
            </div>
            <div class="c-group">
                <button class="c-button" type="submit" data-js-dialog-hide aria-label="Close dialog">Закрыты</button>
            </div>
        </div>
    </div>
</div>