==
<select class="nwt-select" name="contury" data-validation="required"  data-validation-error-msg="Выберите страну">
        <option value=" ">Выберите...</option>
        <option value="Австралия">Австралия</option>
        <option value="Австрия">Австрия</option>
        <option value="Азербайджан">Азербайджан</option>
        <option value="Азербайджан">Аландские о-ва</option>
        <option value="Албания">Албания</option>
        <option value="Алжир">Алжир</option>
        <option value="Американское Самоа">Американское Самоа</option>
        <option value="Американское Самоа">Ангилья</option>
        <option value="Ангола">Ангола</option>
        <option value="Андорра">Андорра</option>
        <option value="Антарктида">Антарктида</option>
        <option value="Антигуа и Барбуда">Антигуа и Барбуда</option>
        <option value="Аргентина">Аргентина</option>
        <option value="Армения">Армения</option>
        <option value="Аруба">Аруба</option>
        <option value="Афганистан">Афганистан</option>
        <option value="Багамы">Багамы</option>
        <option value="Бангладеш">Бангладеш</option>
        <option value="Барбадос">Барбадос</option>
        <option value="Бахрейн">Бахрейн</option>
        <option value="Беларусь">Беларусь</option>
        <option value="Белиз">Белиз</option>
        <option value="Бельгия">Бельгия</option>
        <option value="Бенин">Бенин</option>
        <option value="Бермуды">Бермуды</option>
        <option value="Болгария">Болгария</option>
        <option value="Боливия">Боливия</option>
        <option value="Бонэйр, Синт-Эстатиус и Саба">Бонэйр, Синт-Эстатиус и Саба</option>
        <option value="Босния и Герцеговина">Босния и Герцеговина</option>
        <option value="Ботсвана">Ботсвана</option>
        <option value="Бразилия">Бразилия</option>
        <option value="Британская территория в Индийском океане">Британская территория в Индийском океане</option>
        <option value="Бруней-Даруссалам">Бруней-Даруссалам</option>
        <option value="Буркина-Фасо">Буркина-Фасо</option>
        <option value="Бурунди">Бурунди</option>
        <option value="Бутан">Бутан</option>
        <option value="Вануату">Вануату</option>
        <option value="Ватикан">Ватикан</option>
        <option value="Великобритания">Великобритания</option>
        <option value="Венгрия">Венгрия</option>
        <option value="Венесуэла">Венесуэла</option>
        <option value="Виргинские о-ва (Британские)">Виргинские о-ва (Британские)</option>
        <option value="Виргинские о-ва (США)">Виргинские о-ва (США)</option>
        <option value="Внешние малые о-ва (США)">Внешние малые о-ва (США)</option>
        <option value="Восточный Тимор">Восточный Тимор</option>
        <option value="Вьетнам">Вьетнам</option>
        <option value="Габон">Габон</option>
        <option value="Гаити">Гаити</option>
        <option value="Гайана">Гайана</option>
        <option value="Гамбия">Гамбия</option>
        <option value="Гана">Гана</option>
        <option value="Гваделупа">Гваделупа</option>
        <option value="Гватемала">Гватемала</option>
        <option value="Гвинея">Гвинея</option>
        <option value="Гвинея-Бисау">Гвинея-Бисау</option>
        <option value="Германия">Германия</option>
        <option value="Гернси">Гернси</option>
        <option value="Гибралтар">Гибралтар</option>
        <option value="Гондурас">Гондурас</option>
        <option value="Гонконг (специальный административный район)">Гонконг (специальный административный район)</option>
        <option value="Гренада">Гренада</option>
        <option value="Гренландия">Гренландия</option>
        <option value="Греция">Греция</option>
        <option value="Грузия">Грузия</option>
        <option value="Гуам">Гуам</option>
        <option value="Дания">Дания</option>
        <option value="Джерси">Джерси</option>
        <option value="Джибути">Джибути</option>
        <option value="Диего-Гарсия">Диего-Гарсия</option>
        <option value="Доминика">Доминика</option>
        <option value="Доминиканская Республика">Доминиканская Республика</option>
        <option value="Египет">Египет</option>
        <option value="Замбия">Замбия</option>
        <option value="Западная Сахара">Западная Сахара</option>
        <option value="Зимбабве">Зимбабве</option>
        <option value="Израиль">Израиль</option>
        <option value="Индия">Индия</option>
        <option value="Индонезия">Индонезия</option>
        <option value="Иордания">Иордания</option>
        <option value="Ирак">Ирак</option>
        <option value="Иран">Иран</option>
        <option value="Ирландия">Ирландия</option>
        <option value="Исландия">Исландия</option>
        <option value="Испания">Испания</option>
        <option value="Италия">Италия</option>
        <option value="Йемен">Йемен</option>
        <option value="Кабо-Верде">Кабо-Верде</option>
        <option value="Казахстан">Казахстан</option>
        <option value="Каймановы о-ва">Каймановы о-ва</option>
        <option value="Камбоджа">Камбоджа</option>
        <option value="Камерун">Камерун</option>
        <option value="Канада">Канада</option>
        <option value="Канарские о-ва">Канарские о-ва</option>
        <option value="Катар">Катар</option>
        <option value="Кения">Кения</option>
        <option value="Кипр">Кипр</option>
        <option value="Киргизия">Киргизия</option>
        <option value="Кирибати">Кирибати</option>
        <option value="Китай">Китай</option>
        <option value="КНДР">КНДР</option>
        <option value="Кокосовые о-ва">Кокосовые о-ва</option>
        <option value="Колумбия">Колумбия</option>
        <option value="Коморы">Коморы</option>
        <option value="Конго - Браззавиль">Конго - Браззавиль</option>
        <option value="Конго - Киншаса">Конго - Киншаса</option>
        <option value="XK">Косово</option>
        <option value="CR">Коста-Рика</option>
        <option value="CI">Кот-д&rsquo;Ивуар</option>
        <option value="CU">Куба</option>
        <option value="KW">Кувейт</option>
        <option value="CW">Кюрасао</option>
        <option value="LA">Лаос</option>
        <option value="LV">Латвия</option>
        <option value="LS">Лесото</option>
        <option value="LR">Либерия</option>
        <option value="LB">Ливан</option>
        <option value="LY">Ливия</option>
        <option value="LT">Литва</option>
        <option value="LI">Лихтенштейн</option>
        <option value="LU">Люксембург</option>
        <option value="MU">Маврикий</option>
        <option value="MR">Мавритания</option>
        <option value="MG">Мадагаскар</option>
        <option value="YT">Майотта</option>
        <option value="MO">Макао (специальный административный район)</option>
        <option value="MK">Македония</option>
        <option value="MW">Малави</option>
        <option value="MY">Малайзия</option>
        <option value="ML">Мали</option>
        <option value="MV">Мальдивы</option>
        <option value="MT">Мальта</option>
        <option value="MA">Марокко</option>
        <option value="MQ">Мартиника</option>
        <option value="MH">Маршалловы Острова</option>
        <option value="MX">Мексика</option>
        <option value="MZ">Мозамбик</option>
        <option value="MD">Молдова</option>
        <option value="MC">Монако</option>
        <option value="MN">Монголия</option>
        <option value="MS">Монтсеррат</option>
        <option value="MM">Мьянма (Бирма)</option>
        <option value="NA">Намибия</option>
        <option value="NR">Науру</option>
        <option value="NP">Непал</option>
        <option value="NE">Нигер</option>
        <option value="NG">Нигерия</option>
        <option value="NL">Нидерланды</option>
        <option value="NI">Никарагуа</option>
        <option value="NU">Ниуэ</option>
        <option value="NZ">Новая Зеландия</option>
        <option value="NC">Новая Каледония</option>
        <option value="NO">Норвегия</option>
        <option value="AC">о-в Вознесения</option>
        <option value="IM">о-в Мэн</option>
        <option value="NF">о-в Норфолк</option>
        <option value="CX">о-в Рождества</option>
        <option value="SH">о-в Св. Елены</option>
        <option value="TC">о-ва Тёркс и Кайкос</option>
        <option value="AE">ОАЭ</option>
        <option value="OM">Оман</option>
        <option value="UN">Организация Объединенных Наций</option>
        <option value="CK">Острова Кука</option>
        <option value="PN">острова Питкэрн</option>
        <option value="PK">Пакистан</option>
        <option value="PW">Палау</option>
        <option value="PS">Палестинские территории</option>
        <option value="PA">Панама</option>
        <option value="PG">Папуа &ndash; Новая Гвинея</option>
        <option value="PY">Парагвай</option>
        <option value="PE">Перу</option>
        <option value="PL">Польша</option>
        <option value="PT">Португалия</option>
        <option value="PR">Пуэрто-Рико</option>
        <option value="KR">Республика Корея</option>
        <option value="RE">Реюньон</option>
        <option value="RU">Россия</option>
        <option value="RW">Руанда</option>
        <option value="RO">Румыния</option>
        <option value="SV">Сальвадор</option>
        <option value="WS">Самоа</option>
        <option value="SM">Сан-Марино</option>
        <option value="ST">Сан-Томе и Принсипи</option>
        <option value="SA">Саудовская Аравия</option>
        <option value="SZ">Свазиленд</option>
        <option value="MP">Северные Марианские о-ва</option>
        <option value="SC">Сейшельские Острова</option>
        <option value="BL">Сен-Бартелеми</option>
        <option value="MF">Сен-Мартен</option>
        <option value="PM">Сен-Пьер и Микелон</option>
        <option value="SN">Сенегал</option>
        <option value="VC">Сент-Винсент и Гренадины</option>
        <option value="KN">Сент-Китс и Невис</option>
        <option value="LC">Сент-Люсия</option>
        <option value="RS">Сербия</option>
        <option value="EA">Сеута и Мелилья</option>
        <option value="SG">Сингапур</option>
        <option value="SX">Синт-Мартен</option>
        <option value="SY">Сирия</option>
        <option value="SK">Словакия</option>
        <option value="SI">Словения</option>
        <option value="US">Соединенные Штаты</option>
        <option value="SB">Соломоновы Острова</option>
        <option value="SO">Сомали</option>
        <option value="SD">Судан</option>
        <option value="SR">Суринам</option>
        <option value="SL">Сьерра-Леоне</option>
        <option value="TJ">Таджикистан</option>
        <option value="TH">Таиланд</option>
        <option value="TW">Тайвань</option>
        <option value="TZ">Танзания</option>
        <option value="TG">Того</option>
        <option value="TK">Токелау</option>
        <option value="TO">Тонга</option>
        <option value="TT">Тринидад и Тобаго</option>
        <option value="TA">Тристан-да-Кунья</option>
        <option value="TV">Тувалу</option>
        <option value="TN">Тунис</option>
        <option value="TM">Туркменистан</option>
        <option value="TR">Турция</option>
        <option value="UG">Уганда</option>
        <option value="UZ">Узбекистан</option>
        <option value="UA">Украина</option>
        <option value="WF">Уоллис и Футуна</option>
        <option value="UY">Уругвай</option>
        <option value="FO">Фарерские о-ва</option>
        <option value="FM">Федеративные Штаты Микронезии</option>
        <option value="FJ">Фиджи</option>
        <option value="PH">Филиппины</option>
        <option value="FI">Финляндия</option>
        <option value="FK">Фолклендские о-ва</option>
        <option value="FR">Франция</option>
        <option value="GF">Французская Гвиана</option>
        <option value="PF">Французская Полинезия</option>
        <option value="TF">Французские Южные территории</option>
        <option value="HR">Хорватия</option>
        <option value="CF">ЦАР</option>
        <option value="TD">Чад</option>
        <option value="ME">Черногория</option>
        <option value="CZ">Чехия</option>
        <option value="CL">Чили</option>
        <option value="CH">Швейцария</option>
        <option value="SE">Швеция</option>
        <option value="SJ">Шпицберген и Ян-Майен</option>
        <option value="LK">Шри-Ланка</option>
        <option value="EC">Эквадор</option>
        <option value="GQ">Экваториальная Гвинея</option>
        <option value="ER">Эритрея</option>
        <option value="EE">Эстония</option>
        <option value="ET">Эфиопия</option>
        <option value="ZA">ЮАР</option>
        <option value="GS">Южная Георгия и Южные Сандвичевы о-ва</option>
        <option value="SS">Южный Судан</option>
        <option value="JM">Ямайка</option>
        <option value="JP">Япония</option>
        <option value="EZ">Eurozone</option>
    </select>